@inject HttpClient Http
@using BlazorApp2.Shared;
@using BlazorBootstrap;

<Modal @ref="modal" Title="Добавление цели">
    <BodyTemplate>
        <h3>Добавить цель</h3>
        <div>
            <label for="name">Название:</label>
            <textarea type="text" id="name" @bind="newDepartmentGoal.name" />
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideAddGoalModal">Отмена</Button>
        <Button Color="ButtonColor.Secondary" Outline="true" @onclick="AddGoal">Добавить</Button>
    </FooterTemplate>
</Modal>

@code {
    public Modal modal = default!;
    private DepartmentGoal newDepartmentGoal = new DepartmentGoal();
    [Parameter]
    public Func<Task> RefreshGoals { get; set; }

    private async Task AddGoal()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("api/DepartmentGoal", newDepartmentGoal);
            response.EnsureSuccessStatusCode(); // Проверяем успешность запроса
            // Если запрос успешен, закрываем диалоговое окно
            await OnHideAddGoalModal();
            newDepartmentGoal = new DepartmentGoal();
            await RefreshGoals(); // Вызываем событие
        }
        catch (Exception ex)
        {
            // Обработка ошибок
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private async Task OnHideAddGoalModal()
    {
        await modal.HideAsync();
    }
}
