@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<div class="page">
    <header>
        <h1>Система Управления Персоналом</h1>
        
    </header>
    <NavMenu />
    <main>
        @Body
    </main>
    <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
    <Preload LoadingText="Loading..." />
</div>

@code {

}
